<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

<div class="container-fluid">
    <form action="/saveData" method="post">
        <p>Just testing this. blah</p>
        <p>blah</p>
        <label for="fullname">fullname name:</label><br>
        <input type="text" name="fullname" value="Bruce Wayne"><br>
        <label for="email">email:</label><br>
        <input type="text" name="email" value="brucewayne@waynetech.com"><br><br>
        <input type="submit" value="Submit">
    </form> 
</div>



</body>
</html>


